#!/usr/bin/env bash

export MCP_NODE_PATH=$(which node)
export MCP_NPX_PATH=$(which npx)
export MCP_UVX_PATH=$(which uvx)
export MCP_CLAUDE_PATH=$(which claude)
export MCP_GITHUB_TOKEN=$(gh auth token)

# 秘匿設定読み込み
if [ -f "./.env" ]; then
  dotenv ./.env
else
  echo "ERROR: .env が必要です。pnpm generate:env で作成してください" >&2
  exit 1
fi

# template ファイルから必要な環境変数の設定が漏れていないかチェック
required_envs=$(cat .env.template | grep -v -E '^#' | cut -d '=' -f 1)

for required_env in $required_envs; do
  if ! cat .env | grep -q "^${required_env}="; then
    echo "ERROR: 環境変数の ${required_env} が未設定です。.env に追加が漏れていないか確認してください" >&2
    exit 1
  fi
done
